form {
    align-items: center;
    border: 2px solid #222;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 10vh;
    padding-bottom: 5vh;
    padding-top: 5vh;
}

label {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 2vh;
    width: 20vw;
}

input {
    border: none;
    border-bottom: 2px solid black;
    font-size: 1.2em;
    height: 4vh;
    margin-bottom: 5vh;
    margin-top: 2vh;
    width: 20vw;
}

p {
    margin-right: 5px;
}

.text {
    display: flex;
    margin-top: 2vh;
}
