.container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60vw;
}

.form-register {
    align-items: center;
    border: 2px solid #222;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 10vh;
    padding-bottom: 5vh;
    padding-top: 5vh;
}

label {
    font-size: 1.5em;
    font-weight: bold;
    width: 20vw;
}

.label-register1 {
    font-size: 1.5em;
    font-weight: bold;
    width: 13vw;
}

.label-register2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 2vw;
    width: 7vw;
}

input {
    border: none;
    border-bottom: 2px solid black;
    font-size: 1.2em;
    height: 4vh;
    width: 20vw;
}

.input-register {
    margin-top: 7vh;
}

p {
    margin-right: 5px;
}

.text {
    display: flex;
    margin-top: 2vh;
}
