.button {
    align-items: end;
    background-color: #27dcc4;
    border: none;
    border-radius: 10px;
    box-shadow: -7.5px 7.5px #222;
    color: white;
    display: flex;
    font-size: 2.5em;
    font-weight: bold;
    height: 10vh;
    justify-content: right;
    margin-left: 2vw;
    margin-right: 2vw;
    padding-bottom: 1vh;
    padding-right: 1vw;
    transition: all 0.5s ease;
    width: 20vw;
}

.button:hover {
    background-color: #222;
    box-shadow: -7.5px 7.5px #27dcc4;
    cursor: pointer;
}
