h1 {
    color: #222;
    font-size: 5em;
}

.title {
    margin-bottom: 5vh;
    margin-left: 15vw;
    margin-top: 5vh;
    position: relative;
    z-index: 1;
}

.title::after {
    background-color: #27dcc4;
    bottom: 15px;
    content: "";
    height: 15px;
    left: 0;
    opacity: 0.75;
    position: absolute;
    width: 17.5%;
    z-index: -1;
}
