img {
    height: 11vh;
}

header {
    margin-left: 12.5vw;
    margin-right: 12.5vw;
    margin-top: 5vh;
}

nav {
    border-bottom: solid 2px #222;
    padding-bottom: 5vh;
}

ul {
    align-items: center;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
