a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #27dcc4;
    transition: all 0.3s ease;
}

.column1 {
    border-left: solid 2px #27dcc4;
    border-right: solid 2px #27dcc4;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-top: 2.5vh;
    text-align: center;
}

.column2 {
    border-right: solid 2px #27dcc4;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    text-align: center;
}

.column3 {
    border-right: solid 2px #27dcc4;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    text-align: center;
}

footer {
    border-top: solid 2px #222;
    margin-bottom: 5vh;
    margin-left: 12.5vw;
    margin-right: 12.5vw;
    margin-top: 7.5vh;
    padding-top: 7.5vh;
}

h3 {
    color: #27dcc4;
    font-size: 1.5em;
    font-weight: bold;
}

p {
    font-size: 1em;
    font-weight: bold;
}

.row1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.row2 {
    margin-top: 5vh;
    text-align: center;
}
