.nav {
    align-items: end;
    background: linear-gradient(to top, rgba(39, 220, 196, 0.75) 0%, rgba(39, 220, 196, 0.75) 30.01%, transparent 10.01%) no-repeat right bottom / 0 100%;
    background-color: #f8f8f8;
    background-size: 0 100%;
    border: none;
    color: #222;
    display: flex;
    font-size: 2.5em;
    font-weight: bold;
    height: 10vh;
    justify-content: right;
    margin-left: 2vw;
    margin-right: 2vw;
    padding-bottom: 1vh;
    padding-right: 1vw;
    width: 20vw;
}

.nav:hover {
    background-size: 100% 100%;
    cursor: pointer;
    transition: background-size 1s;
}